container_commands:
    01-install-aws-cli:
        command: |
          if ! command -v aws &> /dev/null; then
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip -u awscliv2.zip
            ./aws/install
          fi
    02-install-jq:
        command: |
          curl "https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64" -o jq
          chmod +x jq
    03-retrieve-secret:
        command: |
          aws --region us-east-1 secretsmanager get-secret-value --secret-id walletkey/$NETWORK | jq -r '.SecretString' > /run/wallet-key
